@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');


body {
    text-align: center;
}

canvas {
    font-smooth: never;
    -webkit-font-smoothing: none;
}

#screen {
    width: 960px;
    height: 540px;
    margin: auto;
}

@media only screen and (max-width: 959px) {
    #screen {
        width: 480px;
        height: 270px;
    }
}
