@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');


body {
    text-align: center;
}

#screen {
    width: 1440px;
    height: 810px;
    margin: auto;
}

@media only screen and (max-width: 1439px){
    #screen {
        width: 960px;
        height: 540px;
    }
}

@media only screen and (max-width: 959px) {
    #screen {
        width: 480px;
        height: 270px;
    }
}
